.contact-section{
    background-color: #fff9df;
    padding-top: 3.2rem;
}
.contact-container{
    margin: 0 12rem;
    background-color: #b3aa86;
    border-radius: 12px;
}
.contact-heading{
    padding-top: 32px;
    font-size: 20px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #191813;
}